html,
body {
  background: url(../img/Adventure/bg.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.main-adventure {
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 40px;
  border: #fff 2px solid;
  width: 60vw;
  height: 45vh;
  margin-top: 175px;
  box-shadow: 5px 10px rgba(255,255,255, 0.2);
}
